<%- include("./partials/_header")%>

<% if(msg){%>
    <p><%= msg %></p>
<%}%>

<section id="write-article">
    
<form action="/pendingArticle" method="post" enctype="multipart/form-data">
    <div class="image-upload">
        <input type="file" name="bannerimage" id="article-banner" accept="image/*">
        <label for="article-banner" class="article-image-upload"><ion-icon name="cloud-upload-outline"></ion-icon></label>
    </div>
<div class="article-body">
    <div class="article-title">
        <textarea name="title" id="n-a-t" placeholder="Enter Article title"><%= article.title %></textarea>
    </div>
    <div class="article-description">
        <textarea name="description" id="n-a-d" placeholder="Add a little description..." ><%= article.description %></textarea>
    </div>
    <div class="article-content">
        <textarea name="content" id="n-a-c" placeholder="Start writing..." ><%= article.content %></textarea>
    </div>
    <div class="select-category">
        <h3>Select Category</h3>
        <input type="checkbox" name="category" id="fashion" value="fashion">
        <label for="fashion">Fashion</label>
        <input type="checkbox" name="category" id="tech" value="tech">
        <label for="tech">Tech</label>
        <input type="checkbox" name="category" id="buzz" value="buzz">
        <label for="buzz">Buzz</label>
        <input type="checkbox" name="category" id="sports" value="sports">
        <label for="sports">Sports</label>
      </div>

      <div class="author">
        <h3>Enter Author's Email</h3>
        <input type="email" name="authormail" placeholder="enter author's email" value="<%=user.mail%>">
      </div>

    <div class="post-btns">
        
        <input type="file" id="img-upload-btn"  name="markdownimage" hidden>
        <button type="submit" id="publish-btn">publish post</button>
    </div>
</div>
</form>

</section>

<%- include("./partials/_footer")%>