<%- include("./partials/_header") %>

<h1 class="category-page-head"> category: <%= category %></h1>
<section class="articles-section">
<div class="articlescover">

  <% articles.forEach(article =>{%>
    <div class="articles" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1500">
      <div class="articleimg"><img src="<%= article.bannerPath %>" alt=""></div>
      <div class="articlecontent">
        <div class="createdat dets"> <%= article.createdAt.toDateString() %></div>
        <a href="/<%= article.id %>"> <h1> <%= article.title %> </h1> </a>
        <p>
          <%= article.description %>
        </p>
      </div>
    </div>
  <%})%>
      
 </div>
</section>

<section class="buzz">
  <div class="buzz-cover"> 
    <div class="popular-post-main-cont">
     <h2 class="popular-posts-header">Popular Posts</h2>
     <div class="popular-posts-cont">  

      <%- include("./partials/_popularposts", {popular: popular})%>

     </div>
    </div>

    <div class="about" id="about">
      <h2 class="about-header">About THE_HOOD_R</h2>
      <p class="about-details">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum voluptatum necessitatibus nisi placeat delectus corrupti voluptate adipisci eius non, at voluptas vitae ipsum deleniti? Sint harum autem, labore saepe ipsam ex minima quaerat provident error enim iusto quidem quos consequatur. Obcaecati perferendis excepturi, minus tempore qui quod vel maxime voluptates.
      </p>
      <div class="socialicons">
       <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
       <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
       <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
       <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
       <a href="#"><ion-icon src="./images/Hood-svg.svg"></ion-icon></a>
     </div>
    </div>

  </div>
</section>
   
<script>
  function opennav(){
    let mnav = document.getElementById("mobilenav")
    let navbar = document.getElementById("navbar")
    let welcometxt = document.getElementById("welcome-txt")
    let welcomemnu = document.getElementById("welcome-mnu")

mnav.addEventListener("click", ()=>{
  navbar.classList.toggle("show")
  mnav.classList.toggle("show")
})

welcometxt.addEventListener("click", ()=>{
  welcomemnu.classList.toggle("show")
})
}
window.addEventListener("load", opennav)
</script>
<%- include("./partials/_footer") %>