<%- include("./partials/_header", {loggedIn: loggedIn})%>

<div class="update-section">
    <div class="update-cover">
        <div class="update-form">
          
                <form action="/passwordreset/<%= token %>/<%= userid %>" method="post">
                    <% if(msg){%>
                        <p><%= msg %></p>
                    <%}%>
                    <div>
                        <div class="form-name">
                            new password
                        </div>
                        <input type="password" name="newPassword" value="" placeholder="enter new password">
                    </div>

                    <div>
                        <div class="form-name">
                            repeat password
                        </div>
                        <input type="password" name="confirmPassword" value="" placeholder="confirm new password">
                    </div>
                    
                    <button type="submit" class="update-save-btn">Submit</button>
                </form>
        </div>
    </div>
</div>

<script src="/js/mobilenav.js"></script>
<%- include("./partials/_footer")%>