<%- include("./partials/_header", {loggedIn: loggedIn})%>

<section class="articles-section">
    <div class="articlescover">
    <% if(articles) {%>
     <% articles.forEach( article =>{ %>
       <div class="articles" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
         <div class="articleimg"><img src="<%= article.bannerPath %>" alt=""></div>
         <div class="articlecontent">
           <div class="createdat dets"> <%= article.createdAt.toDateString() %></div>
           <a href="/<%= article.id %>"> <h1> <%= article.title %> </h1> </a>
           <p>
             <%= article.description %>
           </p>
         </div>
         <div class="article-card-cat"><% for(let i=0; i < 2; i++ ){%>
           <a href="/categories/<%=article.categories[i]%>"><%= article.categories[i]%></a>
           <%}%>
         </div>
       </div>

     <% }) %>
    <% } else { %>
        <h1> No Results Found</h1>
    <%}%>
    
    </div>

  </section>
       <section class="buzz">
        <div class="buzz-cover"> 
          <div class="popular-post-main-cont">
           <h2 class="popular-posts-header">Popular Posts</h2>
           <div class="popular-posts-cont">  

             <% for(let i=0; i<6; i++){%>
               
              <div class="popular-posts">
                <div class="popular-post-img"><img src="<%= popular[i].bannerPath%>" alt=""></div>
                <div class="popular-post-content">
                  <a href="/<%= popular[i].id%>"><h3 class="pph"><%= popular[i].title %></h3></a>
                  <p class="ppd">By <%= popular[i].author %> on <%= popular[i].createdAt.toDateString()%></p>
                </div>
              </div>
            
            <% } %>
 
           </div>
          </div>

          <div class="about" id="about">
            <h2 class="about-header">About THE_HOOD_R</h2>
            <p class="about-details">
              The Brand consist of the New Generation of inventive Thinkers, ones with the wildest imaginations to bring dreams, to actuality.
            </p>
            <div class="socialicons">
             <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
             <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
             <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
             <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
             <a href="#"><ion-icon src="./images/Hood-svg.svg"></ion-icon></a>
           </div>
          </div>

        </div>
      </section>

<script src="/js/mobilenav.js"></script>
<%- include("./partials/_footer")%>